doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title NOICE
    
    link(rel="icon" href="/images/agenda.png")
    //link(rel='stylesheet', href='/stylesheets/w3.css')
    //link(rel='stylesheet', href='/stylesheets/all.css')

    // Bootstrap core CSS
    //link(href="http://mdbootstrap.com/live/_doc/css/bootstrap.min.css" rel="stylesheet")
    <!-- Custom styles for signin template -->
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    // link(href="/stylesheet/signin.css" rel="stylesheet")

    link(rel='stylesheet', href='/stylesheets/all.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Font Awesome
    link(rel="stylesheet" href="/stylesheets/css/all.css")
    //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
              
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet') 
    
    // Material Design Bootstrap
    //link(href="http://mdbootstrap.com/live/_doc/css/mdb.min.css" rel="stylesheet")
              
    // SCRIPTS
       JQuery
    script(type="text/javascript" src="http://mdbootstrap.com/live/_doc/js/jquery.min.js")

    // Bootstrap core JavaScript
    // script(type="text/javascript" src="http://mdbootstrap.com/live/_doc/js/bootstrap.min.js")

    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" type="text/javascript")

    //script(src="/javascripts/jquery.slim.min.js")
    script(src="/javascripts/functions.js")
  body
    block content
